
body {
  background-color: blue;
}
img{
  background-color: orange;
}

#octopus {
  background-color: transparent;
  margin-top: 10%;
  margin-left: 50%;
  margin-right: 50%;
}

#hat  {
  background-color: transparent;
}

#glasses {
  background-color: transparent;
}