

body {
  background-color: blue;
}

.images {
  position: relative;
}

#octopus {
  position: absolute;
  background-color: transparent;
  width: inherit;
  margin-top: 10%;
  margin-left: 50%;
  margin-right: 50%;
}

#hat  {
  background-color: transparent;
  margin-left: 50%;
  position: relative;
  z-index: 1;

}

#glasses {
  background-color: transparent;
  margin-right: 50%:;
  position: relative;
  
  z-index:2;
  transform: rotate(180deg);

}